@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li, header a, header button {
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}
.cta{
    width : 5%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /* Pour s'assurer que le header est au-dessus du contenu */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre légère si vous le souhaitez */
    height: 60px;
    background-color: #244a63;
    display: table-header-group;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    top : 0px;
    position : relative;
    cursor: pointer;
    height: 55px;

}

.nav_links{
    display: flex;
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 50px;
}

.nav_links li a:hover{
    color: #99c8d4;
}

.cta button{
    padding: 9px 25px;
    background-color: rgb(41, 86, 128);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0ms;
}

.cta button:hover{
    background-color: #246271;
}


.footer{
    background-color: #244a63;
    width: 100%;
    padding: 35px 0;
}

.footer *{
    background-color: #244a63;
}

.footer .container{
    max-width: 1170px;
    margin:auto;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
 }

 .footer-col h4::before{
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
 }

 .footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(80, 110, 119, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #090909;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.titre {
    margin-top:3%;
    font-size: 36px; /* Taille de police en gros */
    text-align: center; /* Centrer le texte horizontalement */
    background-color:#5c8c98 ; /* Fond gris clair */
    padding: 10px; /* Espace intérieur autour du texte */
    color :white;
}
.cliquable {
    padding: 20px; /* Espace intérieur autour du contenu */
    color :white;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    background-color: rgb(52, 128, 172); 
    margin-top:2%;
}


.cliquable img {
    float: left; /* Aligner l'image à gauche */
    margin-right: 20px; /* Espace à droite de l'image */    
    height:222px;
}

.cliquable p{
    padding:40px;
    text-align:center;
    height:200px;
    font-size:130%;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal {
    color:rgb(187, 186, 186);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

button {
    cursor: pointer;
}

#global{
    margin-left: 15%;
    margin-right: 15%;
}

#global h2{
    background-color: rgb(35, 106, 139);
    text-align: center;
    color : white;
    font-size: 24px; 
    font-size: 24px;
    padding-bottom: 10px;
    margin-top: 20px;
}


#global #presi{
    box-shadow: 0px 5px 10px 2px #888888;
    background-color:rgb(243, 243, 243);
    height: 280px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#global .row{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.carte{
    box-shadow: 10px 10px 20px 3px #888888;
    border-radius: 1%;
    height: 300px;
    width: 260px;
    background-color:rgb(243, 243, 243);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0%;
    padding-right: 0%;
    transition: transform 0.3s;
}
.carte:hover{
    transform: scale(1.1); 
}

#global img{
    height: 150px;
    border-radius: 100%;
    margin-top: 10px;
}

#global h3{
    padding: 10px;
}
.texte-bas h3{
    text-align: center;
}