@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
  header li, header a, header button {
      font-weight: 500;
      font-size: 18px;
      color: #edf0f1;
      text-decoration: none;
  }
  .cta{
      width : 5%;
  }
  header{
      position: fixed;
      width: 100%;
      z-index: 100; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      height: 60px;
      background-color: #244a63;
      display: table-header-group;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
  }
  
  .logo{
      top : 0px;
      position : relative;
      cursor: pointer;
      height: 55px;
  
  }
  
  .nav_links li{
      display: inline-block;
      padding: 0px 50px;
  }
  
  .nav_links li a:hover{
      color: #99c8d4;
  }
  
  .cta button{
      padding: 9px 25px;
      background-color: rgb(41, 86, 128);
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease 0ms;
  }
  
  .cta button:hover{
      background-color: #246271;
  }
  
  
#presentation{
    background-color: #2d91b6;
    border-bottom: dashed white;
    box-shadow: 0px 5px 5px 1px #4e8dac;
    margin-bottom:5px;
}

#presentation .titre{
    border-bottom: 1px solid white;
    height: 75px;
    margin-left : 20%;
    margin-right:20%;
}

#presentation h2{
    color: white;
}

#presentation .titre h2{
    text-align: center;
    padding-top: 13px;
}

#presentation #ville{
    padding-top: 41px;
    padding-bottom: 41px;
}
#ville{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #3a7897;
    border-radius: 80px;
}

#presentation p{
    color: white;
    text-align: center;
}
.total{
    background-color: #244a63;
    display:flex;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0px 5px 10px 2px #888888;
    flex-wrap: wrap;
}
.total p{
    color : white;
    padding-top:10px;
}
.total img{
    height : 200px;
}
.elu, .commune, .infos {
    background-color: #206983;
    flex: 1; /* Chaque div occupera une part égale de l'espace disponible */
    text-align: center; /* Centre le contenu horizontalement */
    padding: 20px;
    border: 1px solid #1e2d35;
    margin: 30px;
    transition: transform 0.3s; /* Pour ajouter une transition agréable lorsqu'elles sont agrandies */
    box-shadow: 0px 5px 5px 1px #4e8dac;
}
.elu:hover, .commune:hover, .infos:hover {
    transform: scale(1.1); /* Agrandit la div au survol de la souris */
    font-size: 18px;
}

.actu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.actu .principale{
    border: 3px solid #c4c2c2;
    text-align: center;
    background-color: #2d91b620;
    flex-basis: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: transform 0.3s;
    margin-top : 30px;
    margin-bottom : 30px;
}

.actu .principale img{
    height: 100%;
}

.actu .secondaire .haut, .actu .secondaire .bas{
    border: 3px solid #c4c2c2;
    margin-top : 30px;
    margin-bottom : 30px;
    background-color: #2d91b620;
    transition: transform 0.3s;
}

.actu .secondaire img{
    padding: 20px;
}

.act{
    margin-left:100px;
    font-size: 30px;
    color: #edf0f1;
}



.actu .principale:hover, .actu .secondaire .haut:hover, .actu .secondaire .bas:hover {
    transform: scale(1.1); /* Agrandir l'image au survol de la souris */
}

.footer{
    background-color: #244a63;
    width: 100%;
    padding: 35px 0;
}

.footer *{
    background-color: #244a63;
}

.footer .container{
    max-width: 1170px;
    margin:auto;
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
 }

 .footer-col h4::before{
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
 }

 .footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #090909;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.video {
    width: 640px; /* Largeur de la vidéo */
    height: 40px; /* Hauteur de la vidéo */
    margin: 0 auto; /* Centrer horizontalement */
}

/* Styles pour la vidéo elle-même */
video {
    width: 100%; /* Pour s'adapter au conteneur */
    height: 100%; /* Pour s'adapter au conteneur */
}

@media screen and (max-width : 1000px){
    .actu .principale{
        flex-basis: 90%;
    }
    .actu .secondaire{
        flex-basis: 90%;
        text-align: center;
    }
}
@media screen and (max-width : 1220px){

}

